*{
    padding: 0;
    box-sizing: border-box;
    margin-inline: 5px;
}
body{
    background-color: gray;
    font-weight: bold;
}
.main{
    border: 1px solid yellow;
    height: 250px;
    display: flex;
}
.box1{
    background-color:orange;
    border: 1px solid black;
    width: 20%;
    padding: 10px;
    height: 150px;
}
.box2{
    background-color:orange;
    border: 1px solid black;
    width: 20%;
    padding: 10px;
}
.box3{
    background-color:orange;
    border: 1px solid black;
    width: 20%;
    padding: 10px;
    height: 180px;
}
